body {
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    margin: 0;
}
  .panel {
    height: 570px;
    font-size: 20px;
    background-color: white;
    color: black;
  }

h1, h2, p, ul, li {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

.header {
    background-color: #111526;
    overflow: hidden;
    padding: 20px 10px;
    border-radius: 15px 15px;
  }

  .header a {
    float: left;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 15px 15px;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    text-decoration: underline;
    border-radius: 15px 15px;
  }
  
  .app-style {
    overflow: hidden;
    padding: 25px;
    color: black;
    background-color: gainsboro;
    font-size: 25px;
    position:relative;
    border-radius: 15px 15px;
    margin: 20px 40px 10px 40px;
  }

  .table-header {
    background-color: #111526;
    color: whitesmoke;
    /* overflow: hidden; */
    padding: 15px 15px 15px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .table{
    font-size: 14px;
  }
  .table-footer {
    text-align: right;
    padding: 15px;
  }

  .dashboard-panel{
    height: 60px;
  }

  .table-container{
    border-color: black;
    border-width: 1px;
    border-style: groove;
    border-radius: 5px;
  }