body {
    background-color: whitesmoke;
    padding: 20px;
    margin: 0;
}
  .panel {
    height: 100%;
    font-size: 20px;
    background-color: white;
    color: black;
  }

h1, h2, p, ul, li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    overflow: hidden;
    background-color: #111526;
    padding: 20px 10px;
    border-radius: 15px 15px;
  }


  .header a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 15px 15px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    border-radius: 15px 15px;
    color: black;
  }
  
  .app-style {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    overflow: hidden;
    position:relative;
    margin: 20px 40px 10px 40px;
}

